p.serif {
				font-family: "Times New Roman", Times, serif;
			}
			p.sansserif {
				font-family: Arial, Helvetica, sans-serif;
			}
			img {
				float: right;
				margin: 0 0 0 0 ;
			}
			#rcorners2 {
			border-radius: 25px;
			border: 2px solid #73AD21;
			padding: 20px; 
			width: 900px;
			height: 150px;    
			}